{
    "BetweenClouds": (
        users: [
            212257792722075650,
        ],
        name: "BetweenClouds",
        answers: {
            212257792722075650: false,
        },
        set: false,
        date: "",
    ),
}